// app global css in Stylus form

.cursor-wait 
    cursor wait
.q-toolbar-item
    font-size 18px

.styled-background
    background linear-gradient(to right, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)) ,url('../assets/background.jpg')
    background-size cover
    background-position center
    background-repeat no-repeat
    position relative   

.text-white img 
    transform scale(1.5) translateY(-15px)